# node modules
node_modules

# non-code files
client/images/

# build results
js/
dist/

#temprary files
src/**/*.js
.sass-cache
client/css/*.css
client/css/*.css.map

#editor temporary files
*.swp
*.swo
