# node modules
node_modules

# non-code files
client/images/
client/sounds/

# build results
dist/
dist-server/
dist-client/
batch/**/*.js

#temprary files
.sass-cache
client/css/*.css
client/css/*.css.map

#config files
config/*
!config/default.yaml
