//gaming
@import "./mixins.scss";

.game-view {
  text-align: center;
}

//play
.game-play-container {
  margin: 0.5rem 0 0.5rem 0;
}
.game-play-info {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  .game-play-info-user {
    flex: 200px 0 0;
  }
  .game-play-info-description {
    flex: auto 1 0;
    background-color: rgba(#000000,0.1);

    padding: 0.7rem;
    
    p {
      margin: 0;
    }
  }
}

//user tile
a.user-tile {
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 0 0 #dedede;

  text-decoration: none;
  background-color: $color-background;
  color: inherit;

  display: inline-block;
  width: 160px;
  min-height: 2.5rem;

  margin: 0;
  padding: 0;

  .user-tile-name {
    display: block;
    width: 100%;
    height: 1.1rem;
    color: #666666;
    font-size: 0.85rem;
  }
  .user-tile-user {
    display: block;
    padding: 3px 0 0 3px;
  }
}

//game tile
.game-tile {
  background-color: #f2f2f2;
  margin: 8px;
  padding: 2px;
  width: 296px;
  flex: 296px 0 0;

  p.game-tile-title {
    font-weight: bold;
    a {
      text-decoration: undefline;
      color: #444444;
    }
  }
  p.game-tile-time {
    color: #888888;
    font-size: 0.9rem;
  }
}

//query list
.game-query-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}


//new
.game-metadata-form {
  @include subsection;
}

.game-masao-selector-preview {
  @include subsection;
  margin: 0.8rem 0 0 0;
}
