//gaming
@import "./mixins.scss";

.game-view {
  text-align: center;
}

//play
.game-play-container {
  margin: 0.5rem 0 0.5rem 0;
}
.game-play-info {
  display: flex;
  max-width: 800px;
  margin: 4px auto;
  .game-play-info-meta {
    background-color: $color-lightbox-background;
    color: #666666;
    font-size: 0.9rem;
    margin: 0 10px 0 0;
    padding: 3px;
    flex: 240px 0 0;
  }
  .game-play-info-description {
    flex: auto 1 0;
    background-color: $color-box-background;

    padding: 0.7rem;
    
    p {
      margin: 0;
      white-space: pre-line;
    }
  }
}
.game-play-tools {
  background-color: $color-lightbox-background;
  max-width: 800px;
  margin: 4px auto;
  padding: 4px;
  font-size: 0.9rem;

  .game-play-tools-bar {
    display: flex;
  }
  .game-play-tools-code-link {
    margin: 0 1em 0 0;
  }
  .game-play-tools-social .icon {
    margin: 2px 4px;
  }
}

//user tile
.user-tile {
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 0 0 #dedede;

  text-decoration: none;
  background-color: $color-background;
  color: #666666;
  font-size: 1rem;

  display: inline-block;
  width: 220px;
  min-height: 2.5rem;

  margin: 0;
  padding: 4px 0;

  &.user-tile-fullwidth {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .user-tile-name {
    width: 100%;
    font-size: 0.85rem;
    height: 1.1rem;
  }
  .user-tile-user {
    display: block;
    padding: 3px 0 0 3px;
    text-decoration: none;
    min-height: 48px;

    .user-icon {
      float: left;
      margin-right: 3px;
    }
  }
  .user-tile-url {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
    font-size: 0.85rem;
  }
}

//game tile
.game-tile {
  background-color: #f2f2f2;
  margin: 8px;
  padding: 2px;
  width: 296px;
  flex: 296px 0 0;

  p.game-tile-title {
    font-weight: bold;
    a {
      text-decoration: undefline;
      color: #444444;
    }
  }
  p.game-tile-time {
    color: #888888;
    font-size: 0.9rem;
  }
}

//query list
.game-query-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}


//comments
.comments-comment {
  display: flex;
  max-width: 800px;
  margin: 1rem auto 0;


  .comments-user {
    flex: 200px 0 0;
  }
  .comments-body {
    flex: auto 1 0;
    padding: 6px;
    background-color: $color-box-background;

    .comments-text {
      white-space: pre-line;
    }
    .comments-time {
      color: $color-lightcolor;
      font-size: 0.9rem;
    }
  }
}
.game-play-comments-form-wrapper {
  max-width: 800px;
  margin: 0.5rem auto;

  .form {
    padding-left: 200px;
  }
}


//new
.game-new-metadataform-wrapper {
  max-width: 800px;
  margin: 0.4rem auto;
}
.game-metadata-form, .game-files {
  @include subsection;
}

.game-masao-preview {
  @include subsection;
  margin: 0.8rem 0 0 0;
}
