@import "./mixins.scss";

//reset
html, body {
  margin: 0;
  padding: 0;

  background-color: $color-background;
}
section, header, footer, main, p, ul, li, h1, h2, h3, h4, h5, h6, input, button, textarea{
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-position: inside;
}

hr {
  border: 1px solid #cccccc;
}

a:link {
  color: #444444;
  text-decoration: underline;
}
a:visited {
  color: #777777;
  text-decoration: underline;
}
a:active {
  color: #606060;
}

//mixins
.warning {
  background-color: #ffffbb;
  margin: 0.4rem;
  padding: 0.6rem;
}

.root {
  .root-header {
    // header

    position: relative;

    border-bottom: 1px solid rgba(#000000,0.05);
  }
  .root-header-topnavi {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 36px;

    a {
      display: block;
      width: 160px;
      height: 36px;

      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .root-header-bar {
    // bg

    height: 36px;
    padding: 0 0 0 160px;
    background-color: white;
    background-image: url(/static/images/logo.png);
    background-position: 0 2px;
    background-repeat: no-repeat;

    border-bottom:1px solid rgba(#000000,0.15);
  }
  ul.root-header-menu {
    height: 36px;
    min-width: 400px;

    li {
      display: block;
      float: left;
      height: 36px;

      padding:0 6px;

      a {
        display: block;
        height: 36px;
        padding:0 3px;
        margin:0 4px;

        color: $color-lightcolor;
        line-height: 36px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: $color-hovermask;
        }

        //menu icons
        .icon {
          margin: 2px;
        }
        .icon + span {
          vertical-align: top;
        }
      }
    }
  }
  .root-header-session {
    position: absolute;
    right: 0;
    top: 0;

    color: #aaaaaa;

    .root-header-session-loggedin > * {
      display: inline-block;
    }
    .root-header-session-loggedin > .user-icon {
      margin-top: 2px;
    }
  }
}

section {
  padding: 0 0.5rem 0.5rem 0.5rem;

  & > h1 {
    margin: 1rem -0.4rem 0.8rem -0.4rem;
    padding: 0 0 0 0.4rem;

    font-size: 1.5rem;
    border-bottom: 1px solid #bbbbbb;
    color: $color-boldcolor;
  }

  p {
    margin:0.6rem 0;
  }
}

.header-logs {
  background-color: #ffe0e0;

  display: flex;
  padding:0 0 0 1rem;
  .header-logs-resetbutton {
    flex: 1.2rem 0 0;

    span {
      display: inline-block;
      border:1px dashed #ffbbbb;
      padding: 1px;
      cursor: pointer;
    }
  }
}

.commons-loading {
  color: $color-lightcolor;
}

// form
.form {
  width: 100%;

  p {
    margin: 0.4rem 0;
  }
  label.form-row {
    display: block;
    min-height: 32px;
    border-bottom: 1px solid #f3f3f3;
    & > span {
      // label
      display: inline-block;
      width: 34%;
      padding: 0 0 0 1.5rem;
      line-height: 32px;
      
      color: #333333;
    }
    & > span + * {
      // element
      width: 66%;
      height: 26px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      box-shadow: -2px -2px 0 0 #eeeeee inset;
    }
    & > span + textarea{
      height: 130px;
    }
  }

  .form-single {
    width: 100%;
    height: 26px;
    border: 1px solid #cccccc;
    box-shadow: -2px -2px 0 0 #eeeeee inset;

    &.form-button {
      background-color: #ededed;
    }
  }
  textarea.form-single {
    height: 130px;
  }

  input[readonly], textarea[readonly] {
    background-color: #f3f3f3;
  }
}

//login-form
section.login-form{
  @include subsection;
  width: 40rem;
  padding: 0.8rem;
  background-color: #f3f3f3;

  .login-form-info {
    font-size: 0.9rem;
  }
}

//file-selector
.fileselector {
  .fileselector-dragarea {
    background-color: #e8e8e8;
    border: 12px dashed #d0d0d0;

    padding: 30px 0;

    text-align: center;
    color: #444444;
  }
  .fileselector-accept {
    color: #666666;
    font-size: 0.9rem;
  }
}

//horizontal menu
ul.horizontal-menu {
  display: flex;

  background-color: #ffffff;
  min-height: 32px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  margin: 0 0 0.8rem 0;

  li {
    display: block;
    flex: auto 1 1;
    padding: 0 0.8rem;

    cursor: pointer;

    color: $color-lightcolor;
    text-align: center;
    line-height: 36px;

    border-bottom: 4px hidden transparent;

    &.horizontal-menu-current {
      border-bottom: 4px solid #bebebe;
    }

    &:hover {
      background-color: $color-hovermask;
    }
  }
}

//file-list
.file-list-container {
  .file-list-info {
    color: $color-lightcolor;
  }
  .file-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0 0 12px 0;

    .file-list-file {
      flex: 120px 0 0;
      margin:0 12px;
      padding:12px 0;
      border-right: 1px solid #dedede;
      border-bottom: 1px solid #dedede;

      min-height: 160px;

      cursor: pointer;

      &.file-list-command {
        background-color: $color-box-background;
        color: $color-lightcolor;

        text-align: center;
      }
      &.file-list-default {
        padding-top: 60px;
      }
      &.file-list-current {
        background-color: #bbff99;
      }

      .file-list-file-name {
        font-weight: bold;
      }
      .file-list-file-description {
        white-space: pre-line;
        font-size: 0.9rem;
      }
    }

  }
}
.file-upload {
  @include legendsection;
}
.file-upload-data {
  display: flex;

  .file-upload-preview {
    flex: auto 0 1;
    align-self: center;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: $color-lightcolor;

    img {
      max-width: 180px;
    }
  }

  form {
    flex: auto 1 1;
  }
}


//portable styles
.information {
  background-color: #f3f3f3;
  color: #444444;
  padding: 1rem;
  margin: 0.6rem;
  font-size: 0.9rem;
}

//icons
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-image: url(/static/images/icons.png);
  background-size: 64px 120px;
  background-repeat: no-repeat;

  &.icon-home {
    background-position: -32px 0;
  }
  &.icon-masaoplus {
    background-position: 0 0;
  }

  &.icon-edit {
    width: 24px;
    height: 24px;

    background-position: 0 -32px;
  }

  &.icon-fileplus {
    width: 64px;
    height: 64px;
    background-position:0 -56px;
  }
}
