@import "./mixins.scss";

//reset
html, body {
  margin: 0;
  padding: 0;

  background-color: $color-background;
}
section, header, footer, main, p, ul, li, h1, h2, h3, h4, h5, h6, input, button, textarea{
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #cccccc;
}

a:link {
  color: #444444;
  text-decoration: underline;
}
a:visited {
  color: #777777;
  text-decoration: underline;
}
a:active {
  color: #606060;
}

//mixins
.warning {
  background-color: #ffffbb;
  margin: 0.4rem;
  padding: 0.6rem;
}

.root {
  .root-header {
    // header

    position: relative;

    border-bottom: 1px solid rgba(#000000,0.05);
  }
  .root-header-bar {
    // bg

    height: 36px;
    padding: 0 0 0 160px;
    background-color: white;
    background-image: url(/static/images/logo.png);
    background-position: 0 2px;
    background-repeat: no-repeat;

    border-bottom:1px solid rgba(#000000,0.15);
  }
  ul.root-header-menu {
    height: 36px;
    min-width: 400px;

    li {
      display: block;
      float: left;
      height: 36px;

      padding:0 6px;

      a {
        display: block;
        height: 36px;
        padding:0 3px;

        color: #666666;
        line-height: 36px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: rgba(#000000,0.05);
        }
      }
    }
  }
  .root-header-session {
    position: absolute;
    right: 0;
    top: 1rem;

    color: #aaaaaa;
  }
}

section {
  padding: 0 0.5rem 0.5rem 0.5rem;

  & > h1 {
    margin: 1rem -0.4rem 0.8rem -0.4rem;
    padding: 0 0 0 0.4rem;

    font-size: 1.5rem;
    border-bottom: 1px solid #bbbbbb;
    color: #444444;
  }

  p {
    margin:0.6rem 0;
  }
}

.header-logs {
  background-color: #ffe0e0;

  display: flex;
  padding:0 0 0 1rem;
  .header-logs-resetbutton {
    flex: 1.2rem 0 0;

    span {
      display: inline-block;
      border:1px dashed #ffbbbb;
      padding: 1px;
      cursor: pointer;
    }
  }
}


// form
.form {
  width: 38rem;

  p {
    margin: 0.4rem 0;
  }
  label.form-row {
    display: block;
    min-height: 32px;
    border-bottom: 1px solid #f3f3f3;
    & > span {
      // label
      display: inline-block;
      width: 12rem;
      padding: 0 0 0 1.5rem;
      line-height: 32px;
      
      color: #333333;
    }
    & > span + * {
      // element
      width: 24rem;
      height: 26px;
      border: 1px solid #cccccc;
      box-shadow: -2px -2px 0 0 #eeeeee inset;
    }
    & > span + textarea{
      height: 130px;
    }
  }

  .form-single {
    width: 38.5rem;
    height: 26px;
    border: 1px solid #cccccc;
    box-shadow: -2px -2px 0 0 #eeeeee inset;

    &.form-button {
      background-color: #ededed;
    }
  }

  input[readonly], textarea[readonly] {
    background-color: #f3f3f3;
  }
}

//login-form
section.login-form, section.changepassword-form {
  @include subsection;
  width: 40rem;
  padding: 0.8rem;
  background-color: #f3f3f3;
}

//file-selector
.fileselector {
  .fileselector-dragarea {
    background-color: #e8e8e8;
    border: 12px dashed #d0d0d0;

    padding: 30px 0;

    text-align: center;
    color: #444444;
  }
  .fileselector-accept {
    color: #666666;
    font-size: 0.9rem;
  }
}
