/// variables
//ページの背景色
$color-background : #fdfdfd;

//薄い文字色
$color-lightcolor : #727272;

//マウスを載せたときの色
$color-hovermask : rgba(#000000,0.05);


/// mixins
@mixin subsection {
  padding: 0;

  & > h1 {
    font-size: 1.2rem;
    color: #444444;
    padding: 0 0 0 1.2rem;
    margin: 0 0 2px 0;
    border-bottom: 1px dashed #888888;
  }
}

