/// variables
//ページの背景色
$color-background : #fdfdfd;

//ボックスの色
$color-box-background : rgba(#000000,0.07);
$color-lightbox-background : rgba(#000000,0.04);

//薄い文字色
$color-lightcolor : #727272;
//見出しとかの文字色
$color-boldcolor : #444444;

//塗りつぶしたいときの色
$color-solidcolor : #bebebe;

//マウスを載せたときの色
$color-hovermask : rgba(#000000,0.05);


/// mixins
@mixin subsection {
  padding: 0;
  margin:1rem 0;

  & > h1 {
    font-size: 1.2rem;
    color: #444444;
    padding: 0 0 0 1.2rem;
    margin: 0 0 2px 0;
    border-bottom: 1px dashed #bbbbbb;
  }
}

@mixin legendsection {
  margin: 0.5rem;
  border: 1px dashed #888888;
  padding: 0.5rem;

  & > .legend {
    position: relative;
    display: inline-block;
    top: -1rem;
    left: 0.5rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: none;

    background-color: $color-background;
    color: $color-boldcolor;
  }
}
