@import './mixins.scss';


//user page
.user-page-info {
  display: flex;
}
.user-page-icon {
  flex: 128px 0 0;
  margin:0 6px;
}
.user-page-profile {
  flex: auto 1 1;
  background-color: $color-box-background;
  margin: 0 6px;
  padding: 4px;

  &.user-page-profile-empty {
    color: $color-lightcolor;
    font-size: 0.9rem;
  }
  
  p {
    white-space: pre-line;
  }
}
.user-page-list {
  @include subsection;
  margin: 1rem 0;
}

.user-entry-form-wrapper, .user-changepassword-form-wrapper, .user-reset-form-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.user-account-profile-icon-menu {
  display: flex;

  color: $color-lightcolor;

  .user-account-profile-icon-preview {
    flex: 134px 0 0;
    margin: 10px 30px 10px 10px;

    cursor: pointer;
  }
}

.user-account-series {
  .user-account-gamelist-del {
    float: right;
  }
}
