@import './mixins.scss';

ul.user-account-menu {
  display: flex;

  background-color: #ffffff;
  min-height: 32px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  margin: 0 0 0.8rem 0;

  li {
    display: block;
    flex: auto 1 1;
    padding: 0 0.8rem;

    cursor: pointer;

    color: $color-lightcolor;
    text-align: center;
    line-height: 36px;

    border-bottom: 4px hidden transparent;

    &.user-account-menu-current {
      border-bottom: 4px solid #bebebe;
    }

    &:hover {
      background-color: $color-hovermask;
    }
  }
}

//user page
.user-page-profile {
  background-color: $color-box-background;
  padding: 0.7rem;

  &.user-page-profile-empty {
    color: $color-lightcolor;
    font-size: 0.9rem;
  }
  
  p {
    white-space: pre-line;
  }
}
.user-page-list {
  @include subsection;
  margin: 1rem 0;
}
